# Auto detect text files and perform LF normalization
* text=auto
<html>
  <head>
    <title>Šī nav mana pirmā tīkļa viete</title>
  </head>
  <body>
    <h1>Es uzlauzu NASA</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at ipsum vel tortor imperdiet facilisis. Etiam egestas neque finibus velit rutrum, ut tincidunt libero commodo. Duis ut diam quis nunc finibus mattis ut ut eros. Curabitur viverra aliquet facilisis. Nunc ultricies magna quis urna posuere pellentesque. Nunc gravida nibh a leo ornare ullamcorper. Phasellus est nunc, accumsan eget augue ac, tempor malesuada urna. Morbi at pretium eros, tristique laoreet lacus. Nulla eget ligula ante. Phasellus fringilla ex eget nisi semper lacinia. Quisque vitae nisi ut nibh imperdiet bibendum.
      </p>
  </body>
</html>